
body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
	width: 760px;
 	margin:0 auto;
 	padding-top: 30px;
}

.pontos{
	font-weight: bold;

}
.resultado{
	font-style: italic;
	font-weight: bold;

}
.nao{
	color: red;
	font-weight: bold;;
}
.center {
    margin: 20px  auto;
    width: 60%;
    text-align: center;
}

 